:host {
  font-family: 'remixicon' !important;
  display: block;
  align-items: center;
  justify-content: center;
}

:host(.m-color-primary) {
  color: var(--primary-color);
}
:host(.m-color-danger) {
  color: var(--danger-color);
}
:host(.m-color-warn) {
  color: var(--warn-color);
}
:host(.m-color-success) {
  color: var(--success-color);
}
