:host {
  display: flex;
  align-items: center;
}

svg {
  --icon-size: 14px;
  --icon-color: #ffffff;
  --icon-fill: none;

  width: var(--icon-size);
  height: var(--icon-size);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
  stroke: var(--icon-color);
  fill: var(--icon-fill);
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
svg[name='loading'] {
  border-radius: 50%;
  animation: loading 3s linear infinite;
}
