button {
  --button-color: var(--primary-color);
  --text-color: #ffffff;
  border: 0;
  border-radius: var(--border-radius);
  background-color: var(--button-color);
  color: var(--text-color);
  font-size: var(--text-size);
  padding: var(--padding-df);

  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.m-btn-before {
  margin-right: 4px;
}

/* 颜色 */
.primary {
  --button-color: var(--primary-color);
  --text-color: #ffffff;
}
.danger {
  --button-color: var(--error-color);
  --text-color: #ffffff;
}
.warn {
  --button-color: var(--warn-color);
  --text-color: #ffffff;
}
.success {
  --button-color: var(--success-color);
  --text-color: #ffffff;
}

/* 状态 */
button:disabled {
  --button-color: var(--disabled-color);
  cursor: not-allowed;
}

/* 风格 */
.hollow {
  --text-color: var(--text-color-primary);
  border: 1px solid var(--button-color);
  background-color: transparent;
}
.text {
  background-color: transparent;
  border: 0;
  color: var(--button-color);
}
.dashed {
  border: 1px dashed var(--button-color);
  background-color: transparent;
  color: var(--text-color-primary);
}
.flat {
  background-color: transparent;
  border: 0;
  color: var(--text-color-primary);
  &:hover {
    background-color: var(--button-color);
    color: #ffffff;
    transition: all 0.6s;
  }
}
