:host {
  --background-color: #fff;
  --text-color: var(--text-color-primary);

  min-width: 100px;
  min-height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
}

.m-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: var(--padding-df);
}
.m-message-before,
.m-message-after {
  display: flex;
  align-items: center;
  justify-content: center;
}
.m-message-before {
  margin-right: 4px;
}
.m-message-after {
  margin-left: 4px;
}
.m-content {
  margin: auto;
  display: flex;
  justify-content: center;
}

/* 销毁 */
@keyframes destroy {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
:host(.destroy) {
  animation: destroy 1.2s 0.2s forwards;
}
