:host {
  --padding: var(--padding-df);
  display: inline-block;
  color: var(--text-color-primary);
  min-width: 160px;
}

.m-card {
  flex-direction: column;
  padding: var(--padding);
}

.m-card-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
.m-card-content {
  padding: 16px 8px;
}

::slotted(img) {
  border-radius: var(--border-radius);
}

// inline模式
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
