:host {
  --background-color: #FFFFFF;
  --text-color: var(--text-color-primary)
  min-width: 160px;
  display: inline-flex;

}

.m-card{
  background-color: var(--background-color);
  color:var(--text-color);
  border-radius: var(--border-radius);
}

.m-content{
  padding: 0 8px;
}

.m-message-after>*{
  cursor: pointer;
}
